{% extends 'base.html' %}
{% block cus1 %}
active
{% endblock %}
{% block cus %}
active
{% endblock %}
{% block title %}
{{ object.full_name }} {{ block.super }}
{% endblock %}
{% block page %}
{{ object.full_name }}
{% endblock %}
{% block header %}
{#    <a href="" class="btn btn-secondary btn-lg"><span class="ni ni-fat-add"></span> New Customer</a>#}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card bg-gradient-secondary shadow">

                <div class="card-header bg-white">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="card-title">Details</span>
                        </div>
                        <div class="col-md-6" align="right">
                            Sales
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="{% url 'customer:edit' object.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="full_name" value="{{ object.full_name }}" placeholder="Full Name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="contact" value="{{ object.contact }}" placeholder="Contact" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn-block btn-sm btn-github">Save</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="list-group">
                                {% for sale in object.sales.all %}

                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6">{{ sale.product }}</div>
                                            <div class="col-md-6" align="right">GHS {{ sale.amount }}</div>
                                        </div>
                                    </div>


                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}