{% extends 'base.html' %}
{% block cus1 %}
active
{% endblock %}
{% block cus %}
active
{% endblock %}
{% block title %}
Customers {{ block.super }}
{% endblock %}
{% block page %}
Customers
{% endblock %}
{% block header %}
    <a href="" class="btn btn-secondary btn-lg"><span class="ni ni-fat-add"></span> New Customer</a>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card bg-gradient-secondary shadow">

                <div class="card-header bg-white">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="card-title">Customers</span>
                        </div>
{#                        <div class="col-md-6" align="right">#}
{#                            <a href="{% url 'sales:export' 'csv' %}" class="btn btn-sm btn-slack">CSV</a>#}
{#                            <a href="{% url 'sales:export' 'xls' %}" class="btn btn-sm btn-twitter">XLS</a>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        {% for object in object_list %}
                            <div class="list-group-item">
                                <a href="{% url 'customer:detail' object.id %}">
                                    <div class="row">
                                        <div class="col-md-6">{{ object.full_name }}</div>
                                        <div class="col-md-6" align="right"><small class="small">{{ object.sales.count }} Sales</small></div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}