{% extends 'base.html' %}
{% block sal1 %}
active
{% endblock %}
{% block sal %}
active
{% endblock %}
{% block title %}
Sales {{ block.super }}
{% endblock %}
{% block page %}
Sales
{% endblock %}
{% block header %}
    <a href="{% url 'sales:add' %}" class="btn btn-secondary btn-lg"><span class="ni ni-fat-add"></span> New Sale</a>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card bg-gradient-secondary shadow">

                <div class="card-header bg-white">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="card-title">Sales</span>
                        </div>
                        <div class="col-md-6" align="right">
                            <a href="{% url 'sales:export' 'csv' %}" class="btn btn-sm btn-slack">CSV</a>
                            <a href="{% url 'sales:export' 'xls' %}" class="btn btn-sm btn-twitter">XLS</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div>
                            <table class="table align-items-center">
                                <thead class="thead-light">
                                <tr class="text-center">
                                    <th scope="col">Sale ID</th>
                                    <th scope="col">
                                        Product
                                    </th>
                                    {#                                <th scope="col">#}
                                    {#                                    Brand#}
                                    {#                                </th>#}
                                    <th scope="col">
                                        Customer Name
                                    </th>
                                    <th scope="col">Customer Contact</th>
                                    <th scope="col">
                                        Quantity
                                    </th>
                                    <th scope="col">Unit Price</th>
                                    <th>Total Amount</th>
                                    {#                                <th>Supplier</th>#}
                                </tr>
                                </thead>
                                <tbody class="list">
                                {% for sale in object_list %}
                                    <tr class="text-center">
                                        <th>{{ sale.sale_id }}</th>
                                        <td scope="row" class="name">
                                            {{ sale.product }}
                                        </td>
                                        <td class="budget">
                                            {{ sale.customer.full_name }}
                                        </td>
                                        <td class="status">
                                            {{ sale.customer.contact }}
                                        </td>
                                        <td>
                                            {% if sale.quantity %}{{ sale.quantity }}{% else %}0{% endif %}
                                        </td>
                                        <td class="completion">
                                            {% if sale.unit_quantity_price %}{{ sale.unit_quantity_price }}{% else %}0{% endif %}
                                        </td>
                                        <td >
                                            {{ sale.amount }}
                                        </td>
                                        {#                                    <td >#}
                                        {#                                        {{ sale.supplier }}#}
                                        {#                                    </td>#}
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}