{% extends 'base.html' %}
{% load bootstrap4 %}
{% block sal1 %}
active
{% endblock %}
{% block sal %}
active
{% endblock %}
{% block title %}
New Sale {{ block.super }}
{% endblock %}
{% block page %}
New Sale
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-6">
            <div class="card bg-gradient-neutral shadow">
                <div class="card-body">
                    <form method="post" action="{% url 'sales:add-annex' %}">
                        {% csrf_token %}
                        {% if messages %}{% for message in messages %}<span class="error text-danger">{{ message|safe }}</span>{% endfor %}{% endif %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-11">
                                    <select class="form-control" required name="customer">
                                        <option value="">Select a customer</option>
                                        {% for customer in customers %}
                                            <option value="{{ customer.id }}">{{ customer.full_name }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <a href="#" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#customer" title="New Customer"><span class="fa fa-plus"></span></a>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <select class="form-control" name="product">
                                <option value="">Select a Product</option>
                                {% for product in products %}
                                    <option value="{{ product.id }}">{{ product.product_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="number" name="quantity" class="form-control" placeholder="Quantity">
                        </div>
                        <div class="form-group">
                            <input type="number" name="unit_quantity_price" class="form-control" placeholder="Unit Quantity Price in GHS">
                        </div>
{#                        <div class="form-group">#}
{#                            <input type="number" name="amount" class="form-control" placeholder="Amount in GHS">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <input type="text" name="customer_name" class="form-control" placeholder="Customer Name">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <input type="text" name="customer_contact" class="form-control" placeholder="Customer Contact">#}
{#                        </div>#}
                        <div class="form-group mr-2 ml-2">
                            <button type="submit" class="btn btn-success btn-block">Save</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <div class="modal fade" id="customer" tabindex="-1" role="dialog" aria-labelledby="customer" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-transparent pb-5">
                            <div class="text-muted text-center mt-2 mb-3"><small>New Customer</small></div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <form role="form" action="{% url 'sales:customer' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" name="full_name" placeholder="Full Name" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" name="contact" placeholder="Contact" type="text">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary my-4">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
