{% extends 'base.html' %}
{% load bootstrap4 %}
{% block sto %}
active
{% endblock %}
{% block sto1 %}
active
{% endblock %}
{% block page %}
New Product
{% endblock %}
{% block title %}
New Product {{ block.super }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-6">
            <div class="card bg-gradient-neutral shadow">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group mr-2 ml-2">
                            {% bootstrap_field form.product_name %}
                        </div>
                        <div class="form-group mr-2 ml-2">
                            {% bootstrap_field form.brand %}
                        </div>
                        <div class="form-group mr-2 ml-2">
                            <button class="btn btn-success btn-block">Save</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
{% endblock %}