{% extends 'base.html' %}
{% block fin1 %}
active
{% endblock %}
{% block fin %}
active
{% endblock %}
{% block title %}
Product Transaction {{ block.super }}
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col"><a href="" class="btn-sm btn-white btn">Products</a></div>
        <div class="col"><a class="btn-sm btn-white btn">Customer</a></div>
        <div class="col"><a class="btn-sm btn-white btn">Periods</a></div>
        <div class="col"><a class="btn-sm btn-white btn">Analytics</a></div>
    </div>

{% endblock %}
{% block header %}
{#    <a href="" class="btn btn-secondary btn-lg"><span class="ni ni-fat-add"></span> New Customer</a>#}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card bg-gradient-secondary">
                <div class="card-header bg-white">
                    <div class="row">
                        <div class="col-md-6">Products Transactions</div>
                        <div class="col-md-6" align="right">

                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Purchases</th>
                                    <th>Sales</th>
                                    <th>Revenue</th>
                                    <th>Profile/Lost</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.product_name }}</td>
                                        <td>{{ object.purchases_total }}</td>
                                        <td>{{ object.sales_total }}</td>
                                        <td>{{ object.revenue }}</td>
                                        <td>{{ object.profit_loss }}</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}