{% extends 'base.html' %}
{% block pur %}
active
{% endblock %}
{% block pur1 %}
active
{% endblock %}
{% block title %}
Purchases {{ block.super }}
{% endblock %}
{% block page %}
Purchases
{% endblock %}
{% block header %}
    <a href="{% url 'purchases:add' %}" class="btn btn-secondary btn-lg"><span class="ni ni-fat-add"></span> New Purchase</a>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card bg-gradient-neutral shadow">
                <div class="table-responsive">
                    <div>
                        <table class="table align-items-center">
                            <thead class="thead-light">
                            <tr class="text-center">
                                <th scope="col">Purchase ID</th>
                                <th scope="col">
                                    Product
                                </th>
{#                                <th scope="col">#}
{#                                    Brand#}
{#                                </th>#}
                                <th scope="col">
                                    Bulk Type
                                </th>
                                <th scope="col">Quantity Per Bulk</th>
                                <th scope="col">
                                    Quantity
                                </th>
                                <th scope="col">Amount Per Bulk</th>
                                <th>Total Amount</th>
                                <th>Supplier</th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for purchase in object_list %}
                                <tr class="text-center">
                                    <th>{{ purchase.purchase_id }}</th>
                                    <td scope="row" class="name">
                                        {{ purchase.product }}
                                    </td>
                                    <td class="budget">
                                        {{ purchase.get_bulk_type_display }}
                                    </td>
                                    <td class="status">
                                        {% if purchase.quantity_per_bulk %}{{ purchase.quantity_per_bulk }}{% else %}0{% endif %}
                                    </td>
                                    <td>
                                        {% if purchase.quantity %}{{ purchase.quantity }}{% else %}0{% endif %}
                                    </td>
                                    <td class="completion">
                                        {% if purchase.per_bulk_amount %}{{ purchase.per_bulk_amount }}{% else %}0{% endif %}
                                    </td>
                                    <td >
                                        {{ purchase.total_amount }}
                                    </td>
                                    <td >
                                        {{ purchase.supplier }}
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}