{% extends 'base.html' %}
{% load bootstrap4 %}
{% block pur %}
active
{% endblock %}
{% block pur1 %}
active
{% endblock %}
{% block title %}
New Purchase {{ block.super }}
{% endblock %}
{% block page %}
New Purchase
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-6">
            <div class="card bg-gradient-neutral shadow">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
{#                        <div class="form-group mr-2 ml-2">#}
{#                            {% bootstrap_field form.product_name %}#}
{#                        </div>#}
{#                        <div class="form-group mr-2 ml-2">#}
{#                            {% bootstrap_field form.brand %}#}
{#                        </div>#}
                        {% bootstrap_form form %}
                        <div class="form-group mr-2 ml-2">
                            <button type="submit" class="btn btn-success btn-block">Save</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
{% endblock %}