{% extends 'base.html' %}
{% block sto %}
active
{% endblock %}
{% block sto1 %}
active
{% endblock %}
{% block title %}
Stocks {{ block.super }}
{% endblock %}
{% block page %}
Stocks
{% endblock %}
{% block header %}
    <a href="{% url 'distribution:product-new' %}" class="btn btn-secondary btn-lg"><span class="ni ni-fat-add"></span> New Product</a>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card bg-gradient-neutral shadow">
                <div class="table-responsive">
                    <div>
                        <table class="table align-items-center">
                            <thead class="thead-light">
                            <tr class="text-center">
                                <th scope="col">Stock ID</th>
                                <th scope="col">
                                    Product
                                </th>
                                <th scope="col">
                                    Brand
                                </th>
                                <th scope="col">
                                    Purchased
                                </th>
                                <th scope="col">Sold</th>
                                <th scope="col">
                                    In Stock
                                </th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for stock in object_list %}
                                <tr class="text-center">
                                    <th>{{ stock.stock_id }}</th>
                                    <td scope="row" class="name">
                                        {{ stock.product }}
                                    </td>
                                    <td class="budget">
                                        {{ stock.product.brand }}
                                    </td>
                                    <td class="status">
                                        {% if stock.purchased %}{{ stock.purchased }}{% else %}0{% endif %}
                                    </td>
                                    <td>
                                        {% if stock.sold %}{{ stock.sold }}{% else %}0{% endif %}
                                    </td>
                                    <td class="completion">
                                        {% if stock.quantity %}{{ stock.quantity }}{% else %}0{% endif %}
                                    </td>
                                    <td >
                                        {{ stock.get_status_display }}
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}