{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Login - Sales & Service Software
    </title>
    <!-- Favicon -->
    <link href="{% static 'img/brand/favicon.png' %}" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static 'js/plugins/nucleo/css/nucleo.css' %}" rel="stylesheet" />
    <link href="{% static 'js/plugins/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{% static 'css/argon-dashboard.css' %}" rel="stylesheet" />
</head>

<body class="bg-default">
<div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
        <div class="container px-4">
            <a class="navbar-brand" href="">
                Sales and Service Software
            </a>

        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <h1 class="text-white">Welcome!</h1>
{#                        <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-3"><small>Sign in</small></div>

                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
{#                        <div class="text-center text-muted mb-4">#}
{#                            <small>Or sign in with credentials</small>#}
{#                        </div>#}
                        <form role="form" action="" method="post">
                            {% csrf_token %}

                            {% bootstrap_form form %}
{#                            <div class="form-group mb-3">#}
{#                                <div class="input-group input-group-alternative">#}
{#                                    <div class="input-group-prepend">#}
{#                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>#}
{#                                    </div>#}
{#                                    <input class="form-control" placeholder="Username" type="text" name="username">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <div class="input-group input-group-alternative">#}
{#                                    <div class="input-group-prepend">#}
{#                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>#}
{#                                    </div>#}
{#                                    <input class="form-control" placeholder="Password" type="password" name="password">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="custom-control custom-control-alternative custom-checkbox">#}
{#                                <input class="custom-control-input" id=" customCheckLogin" type="checkbox">#}
{#                                <label class="custom-control-label" for=" customCheckLogin">#}
{#                                    <span class="text-muted">Remember me</span>#}
{#                                </label>#}
{#                            </div>#}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
{#                <div class="row mt-3">#}
{#                    <div class="col-6">#}
{#                        <a href="#" class="text-light"><small>Forgot password?</small></a>#}
{#                    </div>#}
{#                    <div class="col-6 text-right">#}
{#                        <a href="#" class="text-light"><small>Create new account</small></a>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <footer class="py-5">
        <div class="container">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        © 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Moon Technology</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!--   Core   -->
<script src="{% static 'js/plugins/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<!--   Optional JS   -->
<!--   Argon JS   -->
<script src="{% static 'js/argon-dashboard.min.js' %}"></script>
<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
<script>
    window.TrackJS &&
    TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
    });
</script>
</body>

</html>